<link href="public/css/jquery.colorpickersliders.css" rel="stylesheet">

<script type="text/javascript" src="public/js/libs/bootstrap.touchspin.js"></script>
<script type="text/javascript" src="public/js/libs/tinycolor.js"></script>
<script type="text/javascript" src="public/js/libs/jquery.colorpickersliders.js"></script>

<script src="public/js/controllers/ModalPongCtrl.js"></script>
<script src="public/js/controllers/ModalTetrisCtrl.js"></script>
<script src="public/js/controllers/ModalDragMeCtrl.js"></script>


<style type="text/css">	
	.well .thumbnail{
		-webkit-box-shadow: 0 8px 6px -6px black;
   		-moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
	}
</style>

<div class="panel panel-primary">
	<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-gamepad"></i> Juegos</h3></div>
	<div class="panel-body">
  		
		<div class="row">
	  		
	  		<div class="well well-sm" ng-controller="ModalPongCtrl">
	  			<h3 class="media-heading">Pong</h3>
	    		<div class="row">
		    		<div class="col-md-7">
			    		<div class="media" >
			    			<div class="col-md-7">
			            		<a class="thumbnail pull-left" href=""><img src="public/img/miniPong.jpg" class="img-responsive" alt="image1"/></a>
			            	</div>
			            	<div class="col-md-5">
		        				<span class="label label-primary">Conf: {{confPong}}</span>
		        				<p></p>
		        				<span class="label label-primary" style="background-color:{{colorLeft}}">Ojo izquierdo</span>
		        				<span class="label label-primary" style="background-color:{{colorRight}}">Ojo derecho</span>
			                	<p><a href="#" class="btn btn-xs btn-warning" style="margin-top:20px"><span class="fa fa-star"></span> Jugar</a></p>
			            	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-5">
		    			<div class="thumbnail" ng-init="confPong='Fácil'">
		    				<div class="caption">
		    					<h4 class="media-heading">Configuración: </h4>
		    					<div class="btn-group" style="padding-top:10px; padding-bottom:5px">
									<button type="button" class="btn btn-default btn-sm" ng-click="open()"><span class="fa fa-plus-square"></span></button>
								  	<button type="button" class="btn btn-default btn-sm" ng-disabled="disabled" ng-click="open()"><span class="fa fa-minus-square"></span></button>
								  	<button type="button" class="btn btn-default btn-sm" ng-show="!disabled" ng-click="open()"><span class="fa fa-pencil-square"></span></button>
								  	<button type="button" class="btn btn-default btn-sm" ng-show="disabled" ng-click="open()"><span class="fa fa-search"></span></button>
								</div>
								<select class="form-control" ng-model="confPong" ng-change="changeOption()">
									<optgroup label="Preconfigurados">
										<option selected="selected">Fácil</option>
										<option>Normal</option>
										<option>Difícil</option>
									</optgroup>
									<optgroup label="Conf. Usuario">
										<option >4</option>
										<option>5</option>
									</optgroup>
								</select>

		    				</div>
		    			</div>
		    		</div>
	    		</div>
	   		</div>

	   		<div class="well well-sm">
	  			<h3 class="media-heading">Tetris</h3>
	    		<div class="row">
		    		<div class="col-md-7">
			    		<div class="media">
			    			<div class="col-md-7">
			            		<a class="thumbnail pull-left" href=""><img src="public/img/miniTetris.jpg" class="img-responsive" alt="image1"/></a>
			            	</div>
			            	<div class="col-md-5">
		        				<span class="label label-primary">Conf: {{confTetris}}</span>
		        				<p></p>
		        				<span class="label label-primary" style="background-color:{{colorLeft}}">Ojo izquierdo</span>
		        				<span class="label label-primary" style="background-color:{{colorRight}}">Ojo derecho</span>
			                	<p><a href="#" class="btn btn-xs btn-warning" style="margin-top:20px"><span class="fa fa-star"></span> Jugar</a></p>
			            	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-5">
		    			<div class="thumbnail" ng-init="confTetris='Fácil'">
		    				<div class="caption" ng-controller="ModalTetrisCtrl">
		    					<h4 class="media-heading">Configuración: </h4>
		    					<div class="btn-group" style="padding-top:10px; padding-bottom:5px">
									<button type="button" class="btn btn-default btn-sm" ng-click="open()"><span class="fa fa-plus-square"></span></button>
								  	<button type="button" class="btn btn-default btn-sm" ng-click="open()"><span class="fa fa-minus-square"></span></button>
								  	<button type="button" class="btn btn-default btn-sm" ng-click="open()"><span class="fa fa-pencil-square"></span></button>
								  	<button type="button" class="btn btn-default btn-sm" ng-click="open()"><span class="fa fa-search"></span></button>
								</div>
								<select class="form-control" ng-model="confTetris">
									<option selected="selected">Fácil</option>
									<option>Normal</option>
									<option>Difícil</option>
									<option >4</option>
									<option>5</option>
								</select>
		    				</div>
		    			</div>
		    		</div>
	    		</div>
	   		</div>
			
			<div class="well well-sm">
	  			<h3 class="media-heading">Drag Me</h3>
	    		<div class="row">
		    		<div class="col-md-7">
			    		<div class="media">

			    			<div class="col-md-7">
			            		<a class="thumbnail pull-left" href=""><img src="public/img/miniDragMe.jpg" class="img-responsive" alt="image1"/></a>
			            	</div>
			            	<div class="col-md-5">
		        				<span class="label label-primary">Conf: {{confDragMe}}</span>
		        				<p></p>
		        				<span class="label label-primary" style="background-color:{{colorLeft}}">Ojo izquierdo</span>
		        				<span class="label label-primary" style="background-color:{{colorRight}}">Ojo derecho</span>
			                	<p><a href="#" class="btn btn-xs btn-warning" style="margin-top:20px"><span class="fa fa-star"></span> Jugar</a></p>
			            	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-5">
		    			<div class="thumbnail" ng-init="confDragMe='Fácil'">
		    				<div class="caption" ng-controller="ModalDragMeCtrl">
		    					<h4 class="media-heading">Configuración: </h4>
		    					<div class="btn-group" style="padding-top:10px; padding-bottom:5px">
									<button type="button" class="btn btn-default btn-sm" ng-click="open()"><span class="fa fa-plus-square"></span></button>
								  	<button type="button" class="btn btn-default btn-sm" ng-click="open()"><span class="fa fa-minus-square"></span></button>
								  	<button type="button" class="btn btn-default btn-sm" ng-click="open()"><span class="fa fa-pencil-square"></span></button>
								  	<button type="button" class="btn btn-default btn-sm" ng-click="open()"><span class="fa fa-search"></span></button>
								</div>
								<select class="form-control" ng-model="confDragMe">
									<option selected="selected">Fácil</option>
									<option>Normal</option>
									<option>Difícil</option>
									<option >4</option>
									<option>5</option>
								</select>
		    				</div>
		    			</div>
		    		</div>
	    		</div>
	   		</div>
   		</div>
	</div>
</div> 


<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-desktop"></i> Calibración de pantalla</h3>
			</div>
			<div class="panel-body">
			    <div class="row">
					<div class="form-group col-md-6">
						<div class="thumbnail">
							<h4 class="text-center">Calibración de ojo izquierdo</h4>
							<span id="selectColorLeft"></span>
							<input ng-model="colorLeft" id="eyeLeft" style="visibility:hidden"/>
						</div>
					</div>
					<div class="form-group col-md-6">
						<div class="thumbnail">
							<h4 class="text-center">Calibración de ojo derecho</h4>
							<span id="selectColorRight" ></span>
							<input ng-model="colorRight" id="eyeRight" style="visibility:hidden"/>
						</div>
					</div>		
				</div>	
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $("#selectColorLeft").ColorPickerSliders({
	    flat: true,
	    swatches: false,
	    color: '#FF0000',
	    order: {
	        rgb: 1,
	        preview: 2
	    },
	    labels: {
	        rgbred: 'Rojo',
	        rgbgreen: 'Verde',
	        rgbblue: 'Azul'
	    },
	    onchange: function(container, color){
            $('#eyeLeft').val(color.tiny.toHexString());
            $('#eyeLeft').trigger('input');
    	}
		   
    });
	$("#selectColorRight").ColorPickerSliders({
	    flat: true,
	    swatches: false,
	    color: '#00FF00',
	    order: {
	        rgb: 1,
	        preview: 2
	    },
	    labels: {
	        rgbred: 'Rojo',
	        rgbgreen: 'Verde',
	        rgbblue: 'Azul'
	    },
	    onchange: function(container, color){
            $('#eyeRight').val(color.tiny.toHexString());
            $('#eyeRight').trigger('input');
    	}
    });
</script>

<script type="text/ng-template" id="modalPongContent.html">
    <div class="modal-header">
        <h3>Configuración de Pong</h3>
    </div>
    <div class="modal-body">
		<form name="form" novalidate>
			<div class="form-group " ng-class="{'has-error': form.name.$invalid && !form.name.$pristine}">
				<label>Nombre de configuración: </label>
				<input type="text" class="form-control" name="name" ng-model="confName" placeholder="Nombre" required>
				<p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">El nombre es obligatorio.</p>
			</div>

			<div class="row">
				<div class="form-group col-md-4">
					<div class="thumbnail">
						<h4 class="text-center">Configuración de Tablero</h4>

						<div class="col-md-12">
							<label for="backgroundColorPong">Color de fondo:</label>
						</div>
						<div class="col-md-12">
							<input colorpicker class="form-control" id="backgroundColorPong" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="backgroundColorPong" ng-init="backgroundColorPong= '#ffffff'" style="background-color:{{backgroundColorPong}}"/>
						</div>
					
						<div class="col-md-12">
							<label for="lineColorPong">Color de líneas:</label>
						</div>
						<div class="col-md-12">
							<input colorpicker class="form-control" id="lineColorPong" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="lineColorPong" ng-init="lineColorPong= '#000000'" style="background-color:{{lineColorPong}}"/>
						</div>
					
						<div class="col-md-12">
							<label for="raquetColorPong">Color de raquetas:</label>
						</div>
						<div class="col-md-12">
							<input colorpicker class="form-control" id="raquetColorPong" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="raquetColorPong" ng-init="raquetColorPong= '#000000'" style="background-color:{{raquetColorPong}}"/>
						</div>
					
						<div class="col-md-12">
							<label for="textColorPong">Color de texto:</label>
						</div>
						<div class="col-md-12">
							<input colorpicker class="form-control" id="textColorPong" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="textColorPong" ng-init="textColorPong= '#000000'" style="background-color:{{textColorPong}}"/>
						</div>
						

						<label for="numberZonePong">Número de franjas:</label>
						<input class="form-control" id="numberZonePong" type="text" value=5/>		
					</div>
				</div>	
				<div class="form-group col-md-4">
					<div class="thumbnail">
						<h4 class="text-center">Configuración de piezas</h4>
						
						<label for="leftSpeedPong">Velocidad raqueta izquierda:</label>
						<input class="form-control" id="leftSpeedPong" type="text" value=5/>
						
						<label for="rightSpeedPong">Velocidad raqueta derecha:</label>
						<input class="form-control" id="rightSpeedPong" type="text" value=5/>
						
						<label for="ballSpeedPong">Velocidad de la pelota:</label>
						<input class="form-control" id="ballSpeedPong" type="text" value=5/>

						<label for="raquetWidthPong">Anchura raqueta:</label>
						<input class="form-control" id="raquetWidthPong" type="text"/>
						
						<label for="raquetHeightPong">Altura raqueta:</label>
						<input class="form-control" id="raquetHeightPong" type="text"/>
						
					</div>
				</div>
				<div class="form-group col-md-4">
					<div class="thumbnail">
						<h4 class="text-center">Configuración de dificultad</h4>
						
						<label for="leftSpeedPong">Velocidad raqueta izquierda:</label>
						<input class="form-control" id="leftSpeedPong" type="text" value=5/>
						
						<label for="rightSpeedPong">Velocidad raqueta derecha:</label>
						<input class="form-control" id="rightSpeedPong" type="text" value=5/>
						
						<label for="ballSpeedPong">Velocidad de la pelota:</label>
						<input class="form-control" id="ballSpeedPong" type="text" value=5/>

						<label for="raquetWidthPong">Anchura raqueta:</label>
						<input class="form-control" id="raquetWidthPong" type="text"/>
						
						<label for="raquetHeightPong">Altura raqueta:</label>
						<input class="form-control" id="raquetHeightPong" type="text"/>
						
					</div>
				</div>
			</div>	
			
		</form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">OK</button>
    </div>
    
    <script type="text/javascript" src="public/js/libs/initModalPong.js" ></script>
</script>

<script type="text/ng-template" id="modalTetrisContent.html">
    <div class="modal-header">
        <h3>Configuración de Tetris</h3>
    </div>
    <div class="modal-body">
       <form name="form" novalidate>
	       <div class="row">

				<div class="thumbnail">
					<h4>Configuración de Tablero</h4>
					<div class="row">
						<div class="col-md-6">
							<div class="col-md-12">
								<label for="backgroundColorTetris">Color de fondo:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="backgroundColorTetris" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="backgroundColorTetris" ng-init="backgroundColorTetris= '#ffffff'" style="background-color:{{backgroundColorTetris}}"/>
							</div>
						
							<div class="col-md-12">
								<label for="lineColorTetris">Color de líneas:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="lineColorTetris" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="lineColorTetris" ng-init="lineColorTetris= '#000000'" style="background-color:{{lineColorTetris}}"/>
							</div>
							
							<div class="col-md-12">
								<label for="textColorTetris">Color de texto:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="textColorTetris" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="textColorTetris" ng-init="textColorTetris= '#000000'" style="background-color:{{textColorTetris}}"/>
							</div>
						</div>
						<div class="col-md-6">
							<label for="colNumberTetris">Número de columnas</label>
							<input class="form-control" id="colNumberTetris" type="text"/>
							
							<label for="rowNumberTetris">Número de filas</label>
							<input class="form-control" id="rowNumberTetris" type="text"/>
						</div>
					</div>
				</div>
				
	        </div>
			<div class="row text-center">
				<div class="form-group">
					<label>Nivel de dificultad: </label>
					<div class="btn-group" ng-init="radioDifficultTetris='Easy'">
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultTetris" btn-radio="'Easy'">Fácil</button>
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultTetris" btn-radio="'Normal'">Normal</button>
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultTetris" btn-radio="'Hard'">Difícil</button>
				    </div>
				</div>
			</div>
       </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>

    <script type="text/javascript" src="public/js/libs/initModalTetris.js" ></script>
</script>

<script type="text/ng-template" id="modalDragMeContent.html">
    <div class="modal-header">
        <h3>Configuración de Drag Me</h3>
    </div>
    <div class="modal-body">
		<form name="form" novalidate>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="thumbnail">
						<h4>Configuración de Tablero</h4>
						<div class="row">
						
							<div class="col-md-12">
								<label for="backgroundInColorDragMe">Color de cuadro interior:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="backgroundInColorDragMe" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="backgroundInColorDragMe" ng-init="backgroundInColorDragMe= '#ffffff'" style="background-color:{{backgroundInColorDragMe}}"/>
							</div>
						
							<div class="col-md-12">
								<label for="backgroundOutColorDragMe">Color de cuadro exterior:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="backgroundOutColorDragMe" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="backgroundOutColorDragMe" ng-init="backgroundOutColorDragMe= '#000000'" style="background-color:{{backgroundOutColorDragMe}}"/>
							</div>
							
							<div class="col-md-12">
								<label for="textColorDragMe">Color de texto:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="textColorDragMe" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="textColorDragMe" ng-init="textColorDragMe= '#000000'" style="background-color:{{textColorDragMe}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="form-group">
					<label>Nivel de dificultad: </label>
					<div class="btn-group" ng-init="radioDifficultDragMe='Easy'">
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultDragMe" btn-radio="'Easy'">Fácil</button>
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultDragMe" btn-radio="'Normal'">Normal</button>
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultDragMe" btn-radio="'Hard'">Difícil</button>
				    </div>
				</div>
			</div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>

</script>