<style type="text/css">	
	.well .thumbnail{
		-webkit-box-shadow: 0 8px 6px -6px black;
   		-moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
	}
</style>
<div class="panel panel-primary">
	<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-gamepad"></i> Juegos</h3></div>
	<div class="panel-body">
  		
		<div class="row">
	  		<div class="well well-sm">
	  			<h3 class="media-heading">Pong</h3>
	    		<div class="row">
		    		<div class="col-md-7">
			    		<div class="media" >
			    			<div class="col-md-7">
			            		<a class="thumbnail pull-left" href=""><img src="public/img/miniPong.jpg" class="img-responsive" alt="image1"/></a>
			            	</div>
			            	<div class="col-md-5">
		        				<span class="label label-primary">Conf: {{user.actualPong.name}}</span>
		        				<p></p>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeLeft}}">Ojo izquierdo</span>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeRight}}">Ojo derecho</span>
			                	<p><a href="#" class="btn btn-xs btn-warning" style="margin-top:20px"><span class="fa fa-star"></span> Jugar</a></p>
			            	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-5">
		    			<div class="thumbnail" ng-init="confPong='Fácil'">
		    				<div class="caption">
		    					<h4 class="media-heading">Configuración: </h4>
		    					<div class="btn-group" style="padding-top:10px; padding-bottom:5px">
									<a href="#pongNewConfig" class="btn btn-default btn-sm"><span class="fa fa-plus-square"></span></a>
								  	<a ng-click="deleteConfPong()" class="btn btn-default btn-sm" ng-disabled="disabledPong"><span class="fa fa-minus-square"></span></a>
								  	<a href="#pongConfig"class="btn btn-default btn-sm" ng-show="!disabledPong"><span class="fa fa-pencil-square"></span></a>
								  	<a href="#pongViewConfig" class="btn btn-default btn-sm" ng-show="disabledPong" ><span class="fa fa-search"></span></a>
								</div>
								<select class="form-control" ng-model="confPong" ng-change="changeOptionPong()">
									<optgroup label="Preconfigurados">
										<option selected="selected">Fácil</option>
										<option>Normal</option>
										<option>Difícil</option>
									</optgroup>
									<optgroup label="Conf. Usuario">
										<option value={{conf._id}} ng-repeat="conf in user.pongConf">{{conf.name}}</option>
									</optgroup>
								</select>
								{{user.pongConf.id}}

		    				</div>
		    			</div>
		    		</div>
	    		</div>
	   		</div>

	   		<div class="well well-sm">
	  			<h3 class="media-heading">Tetris</h3>
	    		<div class="row">
		    		<div class="col-md-7">
			    		<div class="media" >
			    			<div class="col-md-7">
			            		<a class="thumbnail pull-left" href=""><img src="public/img/miniTetris.jpg" class="img-responsive" alt="image1"/></a>
			            	</div>
			            	<div class="col-md-5">
		        				<span class="label label-primary">Conf: {{user.actualTetris.name}}</span>
		        				<p></p>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeLeft}}">Ojo izquierdo</span>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeRight}}">Ojo derecho</span>
			                	<p><a href="#" class="btn btn-xs btn-warning" style="margin-top:20px"><span class="fa fa-star"></span> Jugar</a></p>
			            	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-5">
		    			<div class="thumbnail" ng-init="confTetris='Fácil'">
		    				<div class="caption">
		    					<h4 class="media-heading">Configuración: </h4>
		    					<div class="btn-group" style="padding-top:10px; padding-bottom:5px">
									<a href="#tetrisNewConfig" class="btn btn-default btn-sm"><span class="fa fa-plus-square"></span></a>
								  	<a ng-click="deleteConfTetris()" class="btn btn-default btn-sm" ng-disabled="disabledTetris"><span class="fa fa-minus-square"></span></a>
								  	<a href="#tetrisConfig"class="btn btn-default btn-sm" ng-show="!disabledTetris"><span class="fa fa-pencil-square"></span></a>
								  	<a href="#tetrisViewConfig" class="btn btn-default btn-sm" ng-show="disabledTetris" ><span class="fa fa-search"></span></a>
								</div>
								<select class="form-control" ng-model="confTetris" ng-change="changeOptionTetris()">
									<optgroup label="Preconfigurados">
										<option selected="selected">Fácil</option>
										<option>Normal</option>
										<option>Difícil</option>
									</optgroup>
									<optgroup label="Conf. Usuario">
										<option value={{conf._id}} ng-repeat="conf in user.tetrisConf">{{conf.name}}</option>
									</optgroup>
								</select>
								{{user.tetrisConf.id}}

		    				</div>
		    			</div>
		    		</div>
	    		</div>
	   		</div>
			
			<div class="well well-sm">
	  			<h3 class="media-heading">DragMe</h3>
	    		<div class="row">
		    		<div class="col-md-7">
			    		<div class="media" >
			    			<div class="col-md-7">
			            		<a class="thumbnail pull-left" href=""><img src="public/img/miniDragMe.jpg" class="img-responsive" alt="image1"/></a>
			            	</div>
			            	<div class="col-md-5">
		        				<span class="label label-primary">Conf: {{user.actualDragMe.name}}</span>
		        				<p></p>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeLeft}}">Ojo izquierdo</span>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeRight}}">Ojo derecho</span>
			                	<p><a href="#" class="btn btn-xs btn-warning" style="margin-top:20px"><span class="fa fa-star"></span> Jugar</a></p>
			            	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-5">
		    			<div class="thumbnail" ng-init="confDragMe='Fácil'">
		    				<div class="caption">
		    					<h4 class="media-heading">Configuración: </h4>
		    					<div class="btn-group" style="padding-top:10px; padding-bottom:5px">
									<a href="#dragMeNewConfig" class="btn btn-default btn-sm"><span class="fa fa-plus-square"></span></a>
								  	<a ng-click="deleteConfDragMe()" class="btn btn-default btn-sm" ng-disabled="disabledDragMe"><span class="fa fa-minus-square"></span></a>
								  	<a href="#dragMeConfig"class="btn btn-default btn-sm" ng-show="!disabledDragMe"><span class="fa fa-pencil-square"></span></a>
								  	<a href="#dragMeViewConfig" class="btn btn-default btn-sm" ng-show="disabledDragMe" ><span class="fa fa-search"></span></a>
								</div>
								<select class="form-control" ng-model="confDragMe" ng-change="changeOptionDragMe()">
									<optgroup label="Preconfigurados">
										<option selected="selected">Fácil</option>
										<option>Normal</option>
										<option>Difícil</option>
									</optgroup>
									<optgroup label="Conf. Usuario">
										<option value={{conf._id}} ng-repeat="conf in user.dragMeConf">{{conf.name}}</option>
									</optgroup>
								</select>
								{{user.dragMeConf.id}}

		    				</div>
		    			</div>
		    		</div>
	    		</div>
	   		</div>
   		</div>
	</div>
</div> 


<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-desktop"></i> Calibración de pantalla</h3>
			</div>
			<form name="form" novalidate>
				<div class="panel-body">
				    <div class="row">
						<div class="form-group col-md-6">
							<div class="thumbnail">
								<h4 class="text-center">Calibración de ojo izquierdo</h4>
								<span id="selectColorLeft"></span>
								<input ng-model="user.calibration.eyeLeft" id="eyeLeft" style='visibility:hidden'/>
							</div>
						</div>
						<div class="form-group col-md-6">
							<div class="thumbnail">
								<h4 class="text-center">Calibración de ojo derecho</h4>
								<span id="selectColorRight" ></span>
								<input ng-model="user.calibration.eyeRight" id="eyeRight" style='visibility:hidden'/>
							</div>
						</div>		
					</div>	
					<div class="modal-footer" sytle='margin-top=0px'>
				        <button name="button" ng-click="submitCalibration()" class="btn btn-primary">Guardar</button>
				    </div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
	
	
    $("#selectColorLeft").ColorPickerSliders({
	    flat: true,
	    swatches: false,
	    color: angular.element(document.getElementById('eyeRight')).scope().user.calibration.eyeLeft,
	    order: {
	        rgb: 1,
	        preview: 2
	    },
	    labels: {
	        rgbred: 'Rojo',
	        rgbgreen: 'Verde',
	        rgbblue: 'Azul'
	    },
	    onchange: function(container, color){
            $('#eyeLeft').val(color.tiny.toHexString());
            $('#eyeLeft').trigger('input');
    	}
		   
    });
	$("#selectColorRight").ColorPickerSliders({
	    flat: true,
	    swatches: false,
	    color: angular.element(document.getElementById('eyeRight')).scope().user.calibration.eyeRight,
	    order: {
	        rgb: 1,
	        preview: 2
	    },
	    labels: {
	        rgbred: 'Rojo',
	        rgbgreen: 'Verde',
	        rgbblue: 'Azul'
	    },
	    onchange: function(container, color){
            $('#eyeRight').val(color.tiny.toHexString());
            $('#eyeRight').trigger('input');
    	}
    });
});
</script>

<script type="text/ng-template" id="modalTetrisContent.html">
    <div class="modal-header">
        <h3>Configuración de Tetris</h3>
    </div>
    <div class="modal-body">
       <form name="form" novalidate>
	       <div class="row">

				<div class="thumbnail">
					<h4>Configuración de Tablero</h4>
					<div class="row">
						<div class="col-md-6">
							<div class="col-md-12">
								<label for="backgroundColorTetris">Color de fondo:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="backgroundColorTetris" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="backgroundColorTetris" ng-init="backgroundColorTetris= '#ffffff'" style="background-color:{{backgroundColorTetris}}"/>
							</div>
						
							<div class="col-md-12">
								<label for="lineColorTetris">Color de líneas:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="lineColorTetris" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="lineColorTetris" ng-init="lineColorTetris= '#000000'" style="background-color:{{lineColorTetris}}"/>
							</div>
							
							<div class="col-md-12">
								<label for="textColorTetris">Color de texto:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="textColorTetris" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="textColorTetris" ng-init="textColorTetris= '#000000'" style="background-color:{{textColorTetris}}"/>
							</div>
						</div>
						<div class="col-md-6">
							<label for="colNumberTetris">Número de columnas</label>
							<input class="form-control" id="colNumberTetris" type="text"/>
							
							<label for="rowNumberTetris">Número de filas</label>
							<input class="form-control" id="rowNumberTetris" type="text"/>
						</div>
					</div>
				</div>
				
	        </div>
			<div class="row text-center">
				<div class="form-group">
					<label>Nivel de dificultad: </label>
					<div class="btn-group" ng-init="radioDifficultTetris='Easy'">
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultTetris" btn-radio="'Easy'">Fácil</button>
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultTetris" btn-radio="'Normal'">Normal</button>
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultTetris" btn-radio="'Hard'">Difícil</button>
				    </div>
				</div>
			</div>
       </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>

    <script type="text/javascript" src="public/js/libs/initModalTetris.js" ></script>
</script>

<script type="text/ng-template" id="modalDragMeContent.html">
    <div class="modal-header">
        <h3>Configuración de Drag Me</h3>
    </div>
    <div class="modal-body">
		<form name="form" novalidate>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="thumbnail">
						<h4>Configuración de Tablero</h4>
						<div class="row">
						
							<div class="col-md-12">
								<label for="backgroundInColorDragMe">Color de cuadro interior:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="backgroundInColorDragMe" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="backgroundInColorDragMe" ng-init="backgroundInColorDragMe= '#ffffff'" style="background-color:{{backgroundInColorDragMe}}"/>
							</div>
						
							<div class="col-md-12">
								<label for="backgroundOutColorDragMe">Color de cuadro exterior:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="backgroundOutColorDragMe" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="backgroundOutColorDragMe" ng-init="backgroundOutColorDragMe= '#000000'" style="background-color:{{backgroundOutColorDragMe}}"/>
							</div>
							
							<div class="col-md-12">
								<label for="textColorDragMe">Color de texto:</label>
							</div>
							<div class="col-md-12">
								<input colorpicker class="form-control" id="textColorDragMe" colorpicker-position="right" colorpicker-parent="true" type="text" ng-model="textColorDragMe" ng-init="textColorDragMe= '#000000'" style="background-color:{{textColorDragMe}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="form-group">
					<label>Nivel de dificultad: </label>
					<div class="btn-group" ng-init="radioDifficultDragMe='Easy'">
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultDragMe" btn-radio="'Easy'">Fácil</button>
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultDragMe" btn-radio="'Normal'">Normal</button>
				        <button type="button" class="btn btn-primary" ng-model="radioDifficultDragMe" btn-radio="'Hard'">Difícil</button>
				    </div>
				</div>
			</div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>

</script>