<style type="text/css">	
	.well .thumbnail{
		-webkit-box-shadow: 0 8px 6px -6px black;
   		-moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
	}
</style>
<div class="panel panel-primary">
	<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-gamepad"></i> Juegos</h3></div>
	<div class="panel-body">
  		
		<div class="row">
	  		<div class="well well-sm">
	  			<h3 class="media-heading">Pong</h3>
	    		<div class="row">
		    		<div class="col-md-7">
			    		<div class="media" >
			    			<div class="col-md-7">
			            		<a class="thumbnail pull-left" href=""><img src="public/img/miniPong.jpg" class="img-responsive" alt="image1"/></a>
			            	</div>
			            	<div class="col-md-5">
		        				<span class="label label-primary">Conf: {{user.actualPong.name}}</span>
		        				<p></p>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeLeft}}">Ojo izquierdo</span>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeRight}}">Ojo derecho</span>
			                	<p><a href="/playPong/{{userID}}/{{user.actualPong._id}}" class="btn btn-xs btn-warning" ng-disabled="!user.actualPong" style="margin-top:20px"><span class="fa fa-star"></span> Jugar</a></p>
			            	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-5">
		    			<div class="thumbnail">
		    				<div class="caption">
		    					<h4 class="media-heading">Configuración: </h4>
		    					<div class="btn-group" style="padding-top:10px; padding-bottom:5px">
									<a href="#pongNewConfig" class="btn btn-default btn-sm"><span class="fa fa-plus-square"></span></a>
								  	<a ng-click="deleteConfPong()" class="btn btn-default btn-sm" ng-disabled="disabledPong"><span class="fa fa-minus-square"></span></a>
								  	<a href="#pongConfig"class="btn btn-default btn-sm" ng-show="!disabledPong"><span class="fa fa-pencil-square"></span></a>
								  	<a href="#pongViewConfig" class="btn btn-default btn-sm" ng-show="disabledPong" ><span class="fa fa-search"></span></a>
								</div>
								<select class="form-control" ng-model="confPong" ng-change="changeOptionPong()">
									<option value='1'>-- Elija configuración --</option>
									<option value={{conf._id}} ng-repeat="conf in user.pongConf">{{conf.name}}</option>
								</select>
								{{user.actualPong.name}}

		    				</div>
		    			</div>
		    		</div>
	    		</div>
	   		</div>

	   		<div class="well well-sm">
	  			<h3 class="media-heading">Tetris</h3>
	    		<div class="row">
		    		<div class="col-md-7">
			    		<div class="media" >
			    			<div class="col-md-7">
			            		<a class="thumbnail pull-left" href=""><img src="public/img/miniTetris.jpg" class="img-responsive" alt="image1"/></a>
			            	</div>
			            	<div class="col-md-5">
		        				<span class="label label-primary">Conf: {{user.actualTetris.name}}</span>
		        				<p></p>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeLeft}}">Ojo izquierdo</span>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeRight}}">Ojo derecho</span>
			                	<p><a href="/playTetris/{{userID}}/{{user.actualTetris._id}}" class="btn btn-xs btn-warning" ng-disabled="!user.actualTetris" style="margin-top:20px"><span class="fa fa-star"></span> Jugar</a></p>
			            	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-5">
		    			<div class="thumbnail">
		    				<div class="caption">
		    					<h4 class="media-heading">Configuración: </h4>
		    					<div class="btn-group" style="padding-top:10px; padding-bottom:5px">
									<a href="#tetrisNewConfig" class="btn btn-default btn-sm"><span class="fa fa-plus-square"></span></a>
								  	<a ng-click="deleteConfTetris()" class="btn btn-default btn-sm" ng-disabled="disabledTetris"><span class="fa fa-minus-square"></span></a>
								  	<a href="#tetrisConfig"class="btn btn-default btn-sm" ng-show="!disabledTetris"><span class="fa fa-pencil-square"></span></a>
								  	<a href="#tetrisViewConfig" class="btn btn-default btn-sm" ng-show="disabledTetris" ><span class="fa fa-search"></span></a>
								</div>
								<select class="form-control" ng-model="confTetris" ng-change="changeOptionTetris()">
									<option value='1'>-- Elija configuración --</option>
									<option value={{conf._id}} ng-repeat="conf in user.tetrisConf">{{conf.name}}</option>
								</select>
								{{user.tetrisConf.id}}

		    				</div>
		    			</div>
		    		</div>
	    		</div>
	   		</div>
			
			<div class="well well-sm">
	  			<h3 class="media-heading">DragMe</h3>
	    		<div class="row">
		    		<div class="col-md-7">
			    		<div class="media" >
			    			<div class="col-md-7">
			            		<a class="thumbnail pull-left" href=""><img src="public/img/miniDragMe.jpg" class="img-responsive" alt="image1"/></a>
			            	</div>
			            	<div class="col-md-5">
		        				<span class="label label-primary">Conf: {{user.actualDragMe.name}}</span>
		        				<p></p>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeLeft}}">Ojo izquierdo</span>
		        				<span class="label label-primary" style="background-color:{{user.calibration.eyeRight}}">Ojo derecho</span>
			                	<p><a href="/playDragMe/{{userID}}/{{user.actualDragMe._id}}" class="btn btn-xs btn-warning" ng-disabled="!user.actualDragMe" style="margin-top:20px"><span class="fa fa-star"></span> Jugar</a></p>
			            	</div>
			    		</div>
		    		</div>
		    		<div class="col-md-5">
		    			<div class="thumbnail">
		    				<div class="caption">
		    					<h4 class="media-heading">Configuración: </h4>
		    					<div class="btn-group" style="padding-top:10px; padding-bottom:5px">
									<a href="#dragMeNewConfig" class="btn btn-default btn-sm"><span class="fa fa-plus-square"></span></a>
								  	<a ng-click="deleteConfDragMe()" class="btn btn-default btn-sm" ng-disabled="disabledDragMe"><span class="fa fa-minus-square"></span></a>
								  	<a href="#dragMeConfig"class="btn btn-default btn-sm" ng-show="!disabledDragMe"><span class="fa fa-pencil-square"></span></a>
								  	<a href="#dragMeViewConfig" class="btn btn-default btn-sm" ng-show="disabledDragMe" ><span class="fa fa-search"></span></a>
								</div>
								<select class="form-control" ng-model="confDragMe" ng-change="changeOptionDragMe()">
									<option value='1'>-- Elija configuración --</option>
									<option value={{conf._id}} ng-repeat="conf in user.dragMeConf">{{conf.name}}</option>
								</select>
								{{user.dragMeConf.id}}

		    				</div>
		    			</div>
		    		</div>
	    		</div>
	   		</div>
   		</div>
	</div>
</div> 


<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-desktop"></i> Calibración de pantalla</h3>
			</div>
			<form name="form" novalidate>
				<div class="panel-body">
				    <div class="row">
						<div class="form-group col-md-6">
							<div class="thumbnail">
								<h4 class="text-center">Calibración de ojo izquierdo</h4>
								<span id="selectColorLeft"></span>
								<input ng-model="user.actualEyeLeft" id="eyeLeft" style='visibility:hidden'/>
							</div>
						</div>
						<div class="form-group col-md-6">
							<div class="thumbnail">
								<h4 class="text-center">Calibración de ojo derecho</h4>
								<span id="selectColorRight" ></span>
								<input ng-model="user.actualEyeRight" id="eyeRight" style='visibility:hidden'/>
							</div>
						</div>		
					</div>	
					<div class="modal-footer" sytle='margin-top=0px'>
				        <button name="button" ng-click="submitCalibration()" class="btn btn-primary">Guardar</button>
				    </div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
	
    $("#selectColorLeft").ColorPickerSliders({
	    flat: true,
	    swatches: false,
	    color: angular.element(document.getElementById('eyeRight')).scope().user.calibration.eyeLeft,
	    order: {
	        rgb: 1,
	        preview: 2
	    },
	    labels: {
	        rgbred: 'Rojo',
	        rgbgreen: 'Verde',
	        rgbblue: 'Azul'
	    },
	    onchange: function(container, color){
            $('#eyeLeft').val(color.tiny.toHexString());
            $('#eyeLeft').trigger('input');
    	}
		   
    });
	$("#selectColorRight").ColorPickerSliders({
	    flat: true,
	    swatches: false,
	    color: angular.element(document.getElementById('eyeRight')).scope().user.calibration.eyeRight,
	    order: {
	        rgb: 1,
	        preview: 2
	    },
	    labels: {
	        rgbred: 'Rojo',
	        rgbgreen: 'Verde',
	        rgbblue: 'Azul'
	    },
	    onchange: function(container, color){
            $('#eyeRight').val(color.tiny.toHexString());
            $('#eyeRight').trigger('input');
    	}
    });
});
</script>