<div class="row">
<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-mail-forward"></i> Mensajes enviados</h3>
		</div>

		<accordion close-others="false">
			<accordion-group heading="Mensaje 1 Fecha">
		      	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</accordion-group>
		</accordion>		
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-mail-reply"></i> Mensajes recibidos</h3>
		</div>
		<accordion close-others="false">
			<accordion-group heading="Mensaje 1 Fecha">
		      	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</accordion-group>
		</accordion>
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-envelope-o"></i> Enviar mensaje</h3>
		</div>
		<div class="panel-body">
			
			<form class="form-horizontal" role="form">
			<div class="container">
				<div class="row" style="padding-top:15px">
					<label class="col-sm-2 control-label" for="destino">Destinatario: </label>
					<div class="col-md-8">
						<select class="form-control" id="destino">
						  	<option>1</option>
						  	<option>2</option>
						  	<option>3</option>
						  	<option>4</option>
						  	<option>5</option>
						</select>
					</div>
				</div>
				<div class="row" style="padding-top:15px">
					<label for="inputEmail3" class="col-sm-2 control-label" for="mensaje">Mensaje: </label>
					<div class="col-md-8">
						<textarea class="form-control" rows="3" id="mensaje"></textarea>
					</div>
				</div>
				<div class="row" style="padding:15px 0px">
					<div class="col-md-6 col-md-offset-5">
					<button type="submit" class="btn btn-warning">Enviar</button>
					</div>
				</div>
			</div>	
			</form>
			
		</div>
	</div>
</div>
</div>
