<div class="row">
<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-star"></i> Puntuación</h3>
		</div>
		<div class="panel-body">
			
				<div class="row" style="padding:15px">
					<div class="col-md-6">
						<label class="control-label" for="destino">Juego: </label>
						<select class="form-control" id="destino">
						  	<option>1</option>
						  	<option>2</option>
						  	<option>3</option>
						  	<option>4</option>
						  	<option>5</option>
						</select>
					</div>
					<div class="col-md-6">
						<label class="control-label" for="destino">Configuración: </label>
						<select class="form-control" id="destino">
						  	<option>1</option>
						  	<option>2</option>
						  	<option>3</option>
						  	<option>4</option>
						  	<option>5</option>
						</select>
					</div>
				</div>
				<div class="row" style="padding: 0 15px">
					<div class="col-md-6">
						<label class="control-label" for="destino">Pantalla: </label>
						<select class="form-control" id="destino">
						  	<option>1</option>
						  	<option>2</option>
						  	<option>3</option>
						  	<option>4</option>
						  	<option>5</option>
						</select>
					</div>
				</div>

				<div class="row" style="padding:15px">
					<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr class="info">
								<th>Fecha</th>
								<th>Puntos</th>
								<th>Nivel</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<td>Hoy</td>
								<td>100</td>
								<td>Difícil</td>
								</tr>
								<tr>
								<td>Hoy</td>
								<td>100</td>
								<td>Difícil</td>
								</tr>
							</tbody>
					</table>
				</div>

		</div>
	</div>
</div>
</div>
