<div class="row">
<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-star"></i> Puntuación</h3>
		</div>
		<div class="panel-body">
			
				<div class="row" style="padding:15px">
					<div class="col-md-6">
						<label class="control-label" for="destino">Juego: </label>
						<select class="form-control" ng-model="selectScoreGame" id="destino" ng-change="changeGame()">
						  	<option selected>Pong</option>
						  	<option>Tetris</option>
						  	<option>DragMe</option>
						</select>
					</div>

					<div class="col-md-6">
						<label class="control-label" for="destino">Configuración: </label>
						<select class="form-control" ng-model="idGame" id="destino">
						  	<option value={{conf._id}} ng-model="selectConfGame" ng-repeat="conf in actualScoreGame">{{conf.name}}</option>
						</select>
						{{idGame}}
					</div>
				</div>

				<div class="row" style="padding:15px">
					<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr class="info">
								<th ng-repeat="tit in title">{{tit}}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<td>Hoy</td>
								<td>100</td>
								<td>Difícil</td>
								</tr>
								<tr>
								<td>Hoy</td>
								<td>100</td>
								<td>Difícil</td>
								</tr>
							</tbody>
					</table>
				</div>

		</div>
	</div>
</div>
</div>
