<style type="text/css">
	.jumbotron p{
		font-size: 15px;
	}
</style>
<div class="row">
<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-user"></i> Vincular redes sociales</h3>
		</div>
		<div class="alert alert-danger" ng-show="messageSocial">
				<strong>Error, </strong>{{messageSocial}}
		</div>	
		<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
			  	<li class="row text-center">
					<div class="col-md-2 col-md-offset-4">
			  		<a href="https://es-es.facebook.com/"><i class="fa fa-facebook-square fa-3x fa-fw"></i>Facebook</a>
			  		</div>
			  		<div class="btn-group col-md-3">
			        	<a href="/register/facebook" class="btn btn-primary" ng-model="radioFacebook" btn-radio="'on'">On</a>
			        	<a href="/unlink/facebook" class="btn btn-primary" ng-model="radioFacebook" btn-radio="'off'">Off</a>
				  	</div>
				  	
			  	</li>
			  	  	<hr>
			  	<li class="row text-center">
					<div class="col-md-2 col-md-offset-4">
			  		<a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x fa-fw"></i>Twitter</a>
			  		</div>
			  		<div class="btn-group col-md-3">
			        	<a href="/register/twitter" class="btn btn-primary" ng-model="radioTwitter" btn-radio="'on'">On</a>
			        	<a href="/unlink/twitter" class="btn btn-primary" ng-model="radioTwitter" btn-radio="'off'">Off</a>
			        	
				  	</div>
				
			  	</li>
			  	  	<hr>
			  	<li class="row text-center">
					<div class="col-md-2 col-md-offset-4">
			  		<a href="https://plus.google.com/?hl=es"><i class="fa fa-google-plus-square fa-3x fa-fw"></i>Google +</a>
			  		</div>
			  		<div class="btn-group col-md-3">
			        	<a href="/register/google" class="btn btn-primary" ng-model="radioGoogle" btn-radio="'on'">On</a>
			        	<a href="/unlink/google" class="btn btn-primary" ng-model="radioGoogle" btn-radio="'off'">Off</a>
			        	
				  	</div>
				  	<hr>
			  	</li>
			</ul>
	    </div>
	    <div class="modal-footer">
	        <a href="#" class="btn btn-default">Salir</a>
	    </div>	
		</div>
	</div>
</div>
</div>
